/* بسم الله الرحمن الرحيم */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Noto Sans Arabic', sans-serif;
    scroll-behavior: smooth;

}

/* header */
header {
    background-color: #1f1f3a;
    width: auto;
    height: auto;
    padding: 8px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 98%;
    box-shadow: 1px 1px 10px;
    top: 0;
    z-index: 1;
}

header a {
    text-decoration: none;
    color: white;
    display: flex;
    text-align: center;
}

.headerLogo {
    width: 100px;
    cursor: pointer;
}

.headerList {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 20px;
    color: white;
    border-radius: 8px;
}

.headerLists {
    transition: 200ms;
    cursor: pointer;
    border: 1px solid #1f1f3a;
    padding: 5px;
    border-radius: 20px;
}

.headerLists:hover {
    border: 1px solid white;
}

.headerLists:active {
    background-color: white;
    color: black;
}

.headerLIst3 {
    background-color: white;
    color: black;
    cursor: default;
    border: 1px solid white;
    text-align: center;
    display: flex;
}

.headerBtn {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    color: #1f1f3a;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms;
}

.headerBtn:hover {
    transform: translateY(-2px) translateX(-2px);
    box-shadow: 4px 4px 1px rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

/* main */
main {
    width: auto;
    height: 550px;
    background-color: #747492;
    padding-top: 100px;
}

/* container */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}

form div {
    display: flex;
    flex-direction: column;
}

form div label {
    font-size: 18px;
    font-weight: bold;
}

.container input,
textarea {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
}

textarea {
    height: 150px;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background-color:rgba(0, 0, 0, 0.644);
    position: fixed;
    bottom: 0;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.footerEmail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerNumber{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn{
    transition: 200ms;
    cursor: pointer;
}

.btn:hover{
background-color: black;
color: white;
}