/* بسم الله الرحمن الرحيم */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Noto Sans Arabic', sans-serif;
    scroll-behavior: smooth;

}

/* header */
header {
    background-color: #1f1f3a;
    width: auto;
    height: auto;
    padding: 8px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 98%;
    box-shadow: 1px 1px 10px;
    top: 0;
    z-index: 1;
}

.headerLogo {
    width: 100px;
    cursor: pointer;
}

input {
    height: 40px;
    width: 500px;
    border-radius: 10px;
    opacity: 0.7;
    outline: none;
    font-size: 16px;
    border: none;
    padding: 5px;
    font-family: 'Noto Sans Arabic', sans-serif;
}

.headerList {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 20px;
    color: white;
    border-radius: 8px;
}

.headerLists {
    transition: 200ms;
    cursor: pointer;
    border: 1px solid #1f1f3a;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLists:hover {
    border: 1px solid white;
}

.headerLists:active {
    background-color: white;
    color: black;
}

.headerLists:active>a {
    color: black;
}

.headerList2 {
    background-color: white;
    color: black;
    cursor: default;
    border: 1px solid white;
}

.headerBtn {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    color: #1f1f3a;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms;
    font-family: 'Noto Sans Arabic', sans-serif;
}

.headerBtn:hover {
    transform: translateY(-2px) translateX(-2px);
    box-shadow: 4px 4px 1px rgb(0, 0, 0);
}

header a {
    text-decoration: none;
    color: white;
}

/* main */
main {
    background-color: rgb(32, 32, 32);
    width: auto;
    height: auto;
    padding: 90px;
    text-align: center;
}

.section1Div1{
    width: 100%;
    background-color: black;
}

.section1Div1Title {
    font-size: 30px;
    font-weight: 600;
    color: rgb(233, 233, 233);
}

.section1Div1Content {
    font-size: 20px;
    color: rgb(165, 165, 165);
}

.section1Div2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
}

.section1Div2Btn {
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(58, 58, 58);
    color: white;
    font-family: 'Noto Sans Arabic', sans-serif;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(15, 15, 15);
    transition: 200ms;
}

.section1Div2Btn:hover {
    transform: translateY(-2px) translateX(-2px);
    box-shadow: 4px 4px 1px rgb(0, 0, 0);
}

.section1Div2Title {
    color: white;
}

.section2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section2Section1,
.section2Section2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 40px;
}

.section2Lists {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    align-items: center;
    padding: 10px;
}

.section2Lists img {
    border-radius: 10px;
    width: fit-content;
    height: 200px;
    position: relative;
    z-index: 0;
}

.offer {
    font-size: 20px;
    margin-top: 10px;
    color: white;
    width: 100%;
    background-color: gray;
    border-radius: 10px;
}

.offer::after {
    content: ' 199$';
    text-decoration: line-through;
    color: red;
}
